@theme {
  --color-brand-50: #f3f4ff;
  --color-brand-100: #e7e9ff;
  --color-brand-200: #cfd4ff;
  --color-brand-300: #aeb6ff;
  --color-brand-400: #8790ff;
  --color-brand-500: #5d62e8;
  --color-brand-600: #2d3196;
  --color-brand-700: #11145d;
  --color-brand-800: #06083d;
  --color-brand-900: #000125;
  --color-brand-950: #000015;
}
