CLIENT_HOST=worksyne.local.test
CLIENT_WWW_HOST=www.worksyne.local.test
CLIENT_URL=https://worksyne.local.test

API_HOST=api.worksyne.local.test
API_WWW_HOST=www.api.worksyne.local.test
API_URL=https://api.worksyne.local.test

TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443
TRAEFIK_DASHBOARD_PORT=8080

DB_HOST=mysql
DB_PORT=3306
MYSQL_PORT=3306
DB_DATABASE=worksyne
DB_USERNAME=worksyne
DB_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
